.buttons {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	@media screen and (max-width:800px) {
		flex-direction: column;
		
	}
}

.custom-button.signWithGoogle {
	display: flex;
	align-items: center;
	background-color: bisque;
	color: black;

	svg {
		height: 1.8rem;
		margin-left: 1rem;
	}

	&:hover {
		background-color: darkgrey;
		color: white;
	}
}
