.collection-item {
	width: 22%;
	height: 35rem;
	display: flex;
	flex-direction: column;

	.image {
		height: 95%;
		background-position: center;
		background-size: cover;
        border-radius: 5px;
	}
}

.collection-footer {
	height: 5%;
	display: flex;
	justify-content: space-between;
    font-size: 1.8rem;

    .name{
        width: 90%;
        
    }

    .price{
        width: 10%;
    }
}
