.sign-up {
	width: 50%;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h2 {
		font-size: 3rem;
	}

	& span {
		font-size: 1.6rem;

		& a:link,
		a:visited {
			color: grey;
			text-decoration: underline;
		}
	}

	@media screen and (max-width: 800px) {
		width: 90vw;
	}
}
