.collection {
	display: flex;
	flex-direction: row;
	gap: 3rem;

	&-preview {
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;

		button {
			width: 30vw;
			align-self: center;
			margin-top: 3rem;
			font-size: 1.6rem;

			@media screen and (max-width:800px) {
				width: 65vw;
			}
		}

		.title {
			font-size: 3rem;
			margin-bottom: 3rem;
		}
		.collection {
			display: flex;
			flex-direction: row;
			align-items: center;

			@media screen and (max-width: 800px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 3rem;
			}
		}

		@media screen and (max-width: 800px) {
			align-items: center;
		}
	}
}
