@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Kanit", sans-serif;
	padding: 2rem 6rem;
}

a {
	text-decoration: none;
	color: black;
}
